<a href="https://colab.research.google.com/github/fxlxsxf/filxsxf/blob/main/Alcohol_and_students_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Run firstly to import required libraries
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('Maths.csv') # Run to read the dataset
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

1. Чи студенти, у яких батьки живуть окремо, споживають більше алкоголю, ніж студенти, у яких батьки живуть разом

In [ ]:
a_mean = [data[data.Pstatus == 'A'].Dalc.mean(), data[data.Pstatus == 'A'].Walc.mean()]
t_mean = [data[data.Pstatus == 'T'].Dalc.mean(), data[data.Pstatus == 'T'].Walc.mean()]

print("A = ", np.mean(a_mean))
print("T = ", np.mean(t_mean))

A =  1.9146341463414633
T =  1.8827683615819208


2. Наскільки більше у відсотках сільські сім'ї мають більше дітей

In [ ]:

fam = data.groupby(by=['address', 'famsize']).describe()
gt3_in_u = (fam.iat[2,0] / (fam.iat[2,0] + fam.iat[3,0]))*100
gt3_in_r = (fam.iat[0,0] / (fam.iat[0,0] + fam.iat[1,0]))*100
print('Процент великих сімей в селі - ', round(gt3_in_r, 2))
print('Процент великих сімей в місті - ', round(gt3_in_u, 2))

Процент великих сімей в селі -  77.27
Процент великих сімей в місті -  69.38

3. Наскільки відсутність інтернету дома впливає на оцінки студента

In [ ]:
with_int =  data[data.internet == 'yes'][['G1','G2', 'G3']].mean().mean()
without_int = data[data.internet == 'no'][['G1','G2', 'G3']].mean().mean()
print('оцінки дітей з інтернетом\n', round(with_int, 2))
print('\nоцінки дітей без інтернету\n', round(without_int, 2))

оцінки дітей з інтернетом
 10.85

оцінки дітей без інтернету
 9.83

5. Який показник вживання алкоголю по буднях у студентів, у яких батько або мати працюють у сфері охорони здоров'я

In [5]:
par_heal = [data[data.Fjob == 'health'].Dalc.mean(), data[data.Mjob == 'health'].Dalc.mean()]
print(round(np.mean(par_heal), 2))

1.3

6. Яка група студентів більше пропускає занять: ті, які живуть у місті, чи в селах

In [ ]:
print("середня кількість пропусків в місті" , data[data.address == 'U'].absences.mean())
print("середня кількість пропусків в cелі" , data[data.address == 'R'].absences.mean())

середня кількість пропусків в місті 5.58957654723127
середня кількість пропусків в cелі 6.125

9. Який відсоток студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому

In [13]:
answer = (len(data[(data.famrel <= 2) & (data.higher == 'no')]) / len(data))*100
print(round(answer, 2), '% студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому')

0.25 % студентів з сімейними стосунками <= 2 не хочуть отримувати вищу освіту в майбутньому

Студенти якого віку найбільше вживають алкоголь?

In [8]:
data.groupby('age')[['Dalc', 'Walc']].mean()

         Dalc      Walc
age
15   1.353659  1.902439
16   1.432692  2.278846
17   1.520408  2.571429
18   1.548780  2.414634
19   1.458333  1.958333
20   2.000000  2.333333
21   3.000000  3.000000
22   5.000000  5.000000